
<div class="row">
  <h4><%= @cohort.start_date.strftime('%m/%d/%Y') %> Cohort -   <%= link_to "Edit Cohort", edit_cohort_path(@cohort), class: "btn" %>
</h4>
</div>
<div class="row">
  <div class="divider"></div>
</div>
<div class="row">
  <h5>All the Student Things</h5>
</div>

<div class="row">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">thumb_down</i>Students With Outstanding Items - <%= @students_with_open_items.count %></div>
      <div class="collapsible-body"><span>
        <ul class="collection">
          <% @students_with_open_items.each do |student| %>
            <li class="collection-item">
              <%= link_to student.name, cohort_student_path(@cohort, student) %> | <%= mail_to student.email, student.email %> <br>

              <%= render partial: "students/student_updates", locals: {student: student} %>
            </li>
          <% end %>
        </ul>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">thumb_up</i>Students Complete With Paperwork - <%= @students_with_no_items.count %></div>
      <div class="collapsible-body"><span>
        <ul class="collection">
          <% @students_with_no_items.each do |student| %>
            <li class="collection-item">
              <%= link_to student.name, cohort_student_path(@cohort, student) %> | <%= mail_to student.email, student.email %> <br>

              <%= render partial: "students/student_updates", locals: {student: student} %>

            </li>
          <% end %>
        </ul>
      </span></div>
    </li>
  </ul>
</div>


<div class="row">
  <%= form_tag "/cohorts/#{@cohort.id}/students/import", method: :post, class: 'dropzone form', id: 'media-dropzone' do %>
    <div class="dz-message" data-dz-message><span>Yo! Drop Dat CSV, Tho</span></div>
    <div class="fallback">
      <%= file_field_tag 'media', multiple: true %>
    </div>
  <% end %>
</div>



<div class="row">
  <div class="divider"></div>
</div>
<div class="row">
  <h5>All the Email Things</h5>
</div>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Edit Email Body</div>
      <div class="collapsible-body"><span>
        <div class="row">
          <%= render partial: "edit_email_body", locals: {cohort: @cohort} %>
        </div>
      </span></div>
    </li>
  </ul>

<div class="row">
  <div class="divider"></div>

</div>
  <div class="row">
    <%= link_to "Send Weeks Emails", send_email_path(@cohort), class: "btn", method: :post, remote: true, data: { confirm: 'Are you sure?', "disable-with": "Sending..." }%>
  </div>
