<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= @student.down_payment %>
</p>

<p>
  <strong>Financially cleared:</strong>
  <%= @student.financially_cleared %>
</p>

<p>
  <strong>Enrollment agreement:</strong>
  <%= @student.enrollment_agreement %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @student.transcript %>
</p>

<p>
  <strong>Yes we code:</strong>
  <%= @student.yes_we_code %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
