<div class="row">
  <h4><%= current_user.city.name %></h4>
</div>

<div class="row">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Cohorts</h4></li>
    <% @cohorts.each do |cohort| %>
      <li class="collection-item"><%= link_to cohort.start_date.strftime('%m/%d/%Y'), cohort_path(cohort) %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <%= link_to "New Cohort", new_cohort_path, class: "btn" %>
</div>

<div class="row">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Upcomming Announcements</h4></li>
    <% @announcements.order(:date).each do |announ| %>
      <li class="collection-item"><%= announ.date.strftime('%m/%d/%Y') %> | <%= announ.title %> </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <%= link_to "New Announcement", new_announcement_path, class: "btn" %>
</div>


<div class="row">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Code Challenges</h4></li>
    <li class="collection-item">Alvin</li>
  </ul>
</div>

<div class="row">
  <%= link_to "New Code Challenge", "#", class: "btn " %>
</div>
