<div class="row">
  <p>Greetings, <%= @student.first_name %>!</p>

  <p><%= @cohort.email_body %></p>

<ul class="collection with-header">
  <li class="collection-header"><h4>Your weekly code challenge:</h4></li>
  <li class="collection-item"><%= link_to @weekly_challenge.newline_url, @weekly_challenge.newline_url %></li>
</ul>

<% if @announcements.present? %>
  <ul class="collection with-header">
    <li class="collection-header"><h4>A Few Announcements:</h4></li>
    <%= render 'announcements/announcements' %>
  </ul>
<% end %>

<% if @todos.present? %>
  <ul class="collection with-header">
    <li class="collection-header"><h4>A Few Gentle Reminders:</h4></li>
    <% @todos.each do |todo| %>
      <li class="collection-item"><%= todo %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Meetups Worth Attending</h4></li>
    <%= render 'announcements/meetups' %>
  </ul>
</div>


</div>
